name: Main Workflow

on:
  workflow_dispatch:
  push:
    branches:
      - main
      
permissions: write-all      
   
jobs:
   read_config:
     runs-on: ubuntu-latest
     steps:
       - name: Checkout code
         uses: actions/checkout@v2

   CI:
    uses: Aish19999/DevOps_templet/.github/workflows/actions.yml@main    
   
    
